name: Release Drafter (Supersonic)
on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, edited, reopened, synchronize, closed]
permissions:
  contents: write
  pull-requests: write
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter.supersonic.yml
